
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>
<body>
    <h1>Welcome to My Portfolio</h1>
    <h2>{{ name }}</h2>
    <p>{{ bio }}</p>
    <h3>Projects:</h3>
    <ul>
        <li><a href="/project1">Project 1 - Chocolate Chip Cookie Recipe!!!!</a></li>
        <li><a href="/project2">Project 2 - Travel to Brooklyn? A travel Blog! </a></li>
        <li><a href="/project3">Project 3 - Fitness Tracker! </a></li>
    </ul>
</body>
</html>


</html>

